.cart-container {
    width: 90%;
    margin: auto;
}

.cart-product img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.cart-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    margin: 2rem 4rem;
}

.cart-body {
    margin: 0rem 5rem;
}

.cart-body h3 {
    font-size: 1.5rem !important;
}

.cart_action button {
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
        padding: 6px 20px;
        font-weight: 500;
        font-family: "DM Sans",sans-serif;
        display: inline-block;
        text-decoration: none;
        border-radius: 4px;
    margin: 1rem;
}


.btn-green {
    background-color: #3ddc91;
    border-radius: 4px;
    color: #132322;
}