.cart-container {
    width: 80%;
    margin: auto;
}
.cart-product img {
    width: 11rem;
    height: 11rem;
    object-fit: contain;
}
.cart-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    margin: 2rem 4rem;
}
.cart-body {
    margin: 0rem 5rem;
}