.container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}



.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.btn{
    padding: .8rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

.nav-items{
    margin-left: auto;
    display: flex;
}
.nav-items button{
    font-weight: bolder;
    border: none;
    font-size: 1rem;

}
.nav-items button:hover {
    border: none;
}
.nav-items i{
    margin-right: 1rem;
    font-size: 3rem;
}